<ion-content [fullscreen]="true">
  <ion-header>
    <ion-title class="title">Enter Your Email</ion-title>
    <br>
    <br>
    <p class="subTitle">to receive a reset password link</p>
  </ion-header>
  
<form>
<div>
  <div>
<ion-item>
  <ion-input placeholder="email" class="input">
    <ion-icon name="mail-outline" slot="end"></ion-icon>
  </ion-input>
</ion-item>
</div>
<ion-fab vertical="bottom" horizontal="center" style="margin-bottom: 40px;">
  <ion-fab-button [routerLink]="['/login']">
    <ion-icon name="arrow-forward-circle-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
</div>
</form>
</ion-content>
