ion-header{
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    .subTitle{
        color: gray;
        font-size: 0.9 rem;
    }
    .title{
        font-size: 1.5rem;
    }
 }
 .input{
    font-size: 300;
}

ion-item{
    --background: #f0eee9;
    border-radius: 10px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
    
}