<ion-content [fullscreen]="true">
  <ion-header>
    <ion-title class="title">Enter Your Email</ion-title>
    <p class="subTitle">to receive a reset password link</p>
  </ion-header>

  <form [formGroup]="resetPasswordForm">
    <div>
      <div>
        <ion-item>
          <ion-input formControlName="email" placeholder="email" class="input">
            <ion-icon name="mail-outline" slot="end"></ion-icon>
          </ion-input>
        </ion-item>
        <div
          class="validationMessage"
          *ngIf="resetPasswordForm.controls['email'].touched && resetPasswordForm.controls['email'].invalid"
        >
          <ion-text
            color="danger"
            *ngIf="resetPasswordForm.controls['email'].errors?.required"
          >
            Email is required
          </ion-text>
          <ion-text
            color="danger"
            *ngIf="resetPasswordForm.controls['email'].errors?.pattern"
          >
            Please enter a valid email address
          </ion-text>
        </div>
      </div>
      <ion-fab
        vertical="bottom"
        horizontal="center"
        style="margin-bottom: 40px"
      >
        <ion-fab-button (click)="resetPassword()">
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </form>
</ion-content>
