.input {
  font-size: 300;
}

ion-item {
  --background: #f0eee9;
  border-radius: 10px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}
ion-header {
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: center;
  --background: transparent;
  box-shadow: none;
  border: none;
  .subTitle {
    color: gray;
    font-size: 0.9 rem;
  }
  .title {
    font-size: 1.8rem;
  }
}
.signupLink {
  display: flex;
  margin: auto;
  flex-direction: row;
  align-content: center;
  position: absolute;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 80%;
  right: 0;

  p {
    font-size: 0.9rem;
  }
  a {
    text-decoration: none;
  }
}
.forgotPassword {
  display: flex;
  justify-content: flex-end;
  color: #ffc33f;
  width: 95%;
  a {
    font-weight: 400;
    font-size: 0.8rem;
    text-decoration: none;
  }
}
.validationMessage {
  font-size: 0.8rem;
  margin-top: none;
  margin-left: 20px;
  margin-right: 20px;
}
