<ion-content [fullscreen]="true">
<ion-header>
  <ion-title class="title">Welcome Back</ion-title>
  <br>
  <br>
  <p class="subTitle">Please Sign In</p>
</ion-header>
  <div>
    
  </div>

  <form>
    <div>
      <ion-item>
        <ion-input placeholder="username" class="input">
          <ion-icon name="person-outline" slot="end"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="password" class="input">
          <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
        </ion-input>
      </ion-item>
      <div class="forgotPassword">
        <a [routerLink]="['/reset-password']" style="color: #FFC33F">Forgot Password?</a>
      </div>
      <div class="signupLink">
        <p>New Here? <a [routerLink]="['/signup']" style="color: #FFC33F">Sign Up Now!</a></p>
      </div>
      <ion-fab vertical="bottom" horizontal="center" style="margin-bottom: 40px;">
        <ion-fab-button [routerLink]="['/home']">
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
      
    </div>
  </form>
</ion-content>

